<footer class="footer">
  <div class="container">
    <div class="footer__scroll">
      <a href="./index.html#header">
        <img
          src="./assets/images/ico-arrow.svg"
          alt="arrow-icon"
          title="arrow-icon"
          class="footer__scrollIcon"
        />
      </a>
    </div>
    <div class="footer__links">
      <div class="footer__copy">
        <span>©2021</span>
        <span>we <span class="footer__heart">&#9829;</span> components</span>
      </div>
      <nav>
        <ul class="footer__menu">
          <li><a href="https://adalab.es/" target="_blank">Articles</a></li>
          <li><a href="https://adalab.es/" target="_blank">Books</a></li>
          <li><a href="https://adalab.es/" target="_blank">Events</a></li>
          <li><a href="https://adalab.es/" target="_blank">Reasons</a></li>
          <li><a href="https://adalab.es/" target="_blank">Tips</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="footer__menu">
          <li><a href="https://adalab.es/" target="_blank">Twitter</a></li>
          <li><a href="https://adalab.es/" target="_blank">Instagram</a></li>
          <li>
            <a href="https://adalab.es/" target="_blank">Mastodon.social</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
