<footer class="footer">
  <div class="container">
    <a href="">
      <img src="./assets/images/ico-arrow.svg" alt="" title="" />
    </a>
    <span>©2021</span>
    <span>we &#9829; components</span>
    <nav>
      <ul>
        <li><a href="https://adalab.es/" target="_blank">Articles</a></li>
        <li><a href="https://adalab.es/" target="_blank">Books</a></li>
        <li><a href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a href="https://adalab.es/" target="_blank">Tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li><a href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
      </ul>
    </nav>
  </div>
</footer>
