<header class="header">
  <div class="container">
    <button class="header__menu">
      <a href="https://adalab.es/" target="_blank">
        <img
          src="./assets/images/ico-menu.svg"
          alt="menu-icon"
          title="menu-icon"
        />
      </a>
    </button>
    <h1 class="header__title">Anonymous proxy</h1>
    <p class="header__text">Let's find out what it means</p>
    <div class="header__scroll">
      <a href="./index.html#purchase">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="scroll-icon"
          title="scroll-icon"
          class="header__scrollIcon"
        />
      </a>
    </div>
  </div>
</header>
