<section class="section-purchase" id="purchase">
  <h3>3 reasons to purchase</h3>
  <include
    src="./section-purchase-article.html"
    title="Título 1"
    text="Lorem ipsum dolor sit amet consectetur."
  ></include>
  <include
    src="./section-purchase-article.html"
    title="Título 2"
    text="Lorem ipsum dolor sit amet consectetur."
  ></include>
  <include
    src="./section-purchase-article.html"
    title="Título 3"
    text="Lorem ipsum dolor sit amet consectetur."
  ></include>
  <button>More reasons</button>
</section>
