<section class="section-purchase" id="purchase">
  <div class="container">
    <h3 class="section-purchase__title1">3 reasons to purchase</h3>
    <div class="section-purchase__wrapper">
      <include
        src="./section-purchase-article.html"
        title="Ut sed metus"
        text="Lorem ipsum dolor sit amet, consecteur."
      ></include>
      <include
        src="./section-purchase-article.html"
        title="Curabitur ac erat"
        text="Mauris mattis urna quis lorem molestie."
      ></include>
      <include
        src="./section-purchase-article.html"
        title="Morbi dictum"
        text="Aliquam in dolor et dolor tincidunt."
      ></include>
    </div>
    <button class="section-purchase__button">More reasons</button>
  </div>
</section>
