<section class="section-window">
  <div class="container">
    <h6 class="section-window__title1">Insomnia tips</h6>
    <h3 class="section-window__title2">Looking through a window</h3>
    <p class="section-window__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <!-- <button class="section-window__button">Go</button> -->
    <button class="section-purchase__button">Go</button>
  </div>
</section>
