<section class="section-window">
  <div class="container">
    <h6 class="section-window__title1">Insomnia tips</h6>
    <h3 class="section-window__title2">Looking through a window</h3>
    <p class="section-window__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
      dolorem quia laudantium nesciunt rem ullam molestias optio unde impedit
      veritatis recusandae.
    </p>
    <button class="section-window__button">Go</button>
  </div>
</section>
