// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;
$font-size-main: 18px;

// colors
$color-light: white;
$color-dark: #999;
$color-orange: #f26002;

// media queries mixins
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// animations
@keyframes footer__button {
  from {
    opacity: 0;
    background-color: $color-orange;
    transform: scale(2) rotate(-180deg);
  }
  to {
    opacity: 1;
    background-color: white;
  }
}
