.footer {
  background-color: #304268;
  color: white;
  font-family: $font-main;
  font-size: 16px;
  padding: 0 0 45px;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      margin: 0 370px;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__copy {
    display: flex;
    flex-direction: column;
    order: 1;
    font-size: 14px;
    align-items: center;
    line-height: 2;
    @include tablet {
      order: 0;
      align-items: flex-start;
    }
  }
  &__heart {
    color: $color-orange;
  }
  &__menu {
    text-transform: uppercase;
    line-height: 1.8;
    padding: 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      align-items: flex-start;
      padding: 0;
    }
  }
  &__scroll {
    background-color: $color-light;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    &:hover {
      animation: footer__button 1s 1;
    }
    &Icon {
      // Aumentamos superficie clickable
      padding: 10px;
    }
  }
}
